.quisiera{
    padding: 0.04rem;
    display: inline;
}

.cantidad{
    padding: 0.4rem;
    display: inline;
}

.button1{
    border: none;
    padding: 1rem;
    background-color: #7F5D33;
    border-radius: 1rem;
    display: flex;
    margin: 0 auto;
    font-size: 1.5rem;
    position: static;

}


.inputs{
    display: flex;
    justify-content: space-around;
    width: 50%;
    align-items: center;
    position: absolute;
    margin-left: 30rem;
    margin-top: 7rem;
 
    
}

.inputs .cantidad{
    margin-left: 2rem;
}