.ConductorList{
    display:flex;
    flex: 2;
    flex-wrap: wrap;
    flex-direction: row;
<<<<<<< HEAD:src/components/Conductores/ConductoresList/index.css
    margin-left: 7rem;
    margin-top: 4rem;
=======
    width: 10rem;
    height: 10rem;

>>>>>>> a3d6a94a971a2a7b84a1263c9b6b4d552479e493:src/components/Conductores/index.css
    
}

.ConductorList .ConductorListItem {
    padding: 0.5rem 0.7rem;
    width: 200px;
    background-color: aliceblue;
    border-radius: 2rem;

}

.ConductorList .ConductorListItem button{
    padding: 0.5rem 0.7rem;
    width: 200px;
}

.imagen {
    width: 33rem;
    height: 7rem;
    background-image: url("../../Images/que_m.png");
    border-radius: 1rem;
    margin-left: 32rem;
    margin-top: 2rem;
    
}

