.ConductorList{
    display:flex;
    flex: 2;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: 6rem;
    margin-top: 3rem;
    
}

.ConductorList .ConductorListItem {
    padding: 0.5rem 0.7rem;
    width: 200px;
    background-color: aliceblue;
    border-radius: 2rem;

}

.ConductorList .ConductorListItem button{
    padding: 0.5rem 0.7rem;
    width: 200px;
}

.imagen {
    width: 33rem;
    height: 7rem;
    background-image: url("../Images/que_m.png");
    border-radius: 1rem;
    margin-left: 32rem;
    margin-top: 2rem;
    
}

