body{
    background-color: lightseagreen;
   
}

h1{
    font-size: 3.1rem;
}

.boxLogin{
    margin-left: 35rem;
    margin-top: 3rem;
}
.login{
    width: 25rem;
    background:whitesmoke;
    border-radius: 2rem;
    font-size: 1rem;
}



input[type=text], input[type=password] {
    width:90%;
    padding: 0.9rem 1.7rem;
    margin: 1rem 0;
    display: inline-block;
    border: 0.2rem solid #ccc;
    box-sizing: border-box;
}

button {
	outline: none !important;
    border: none;
    padding: 1rem;
    margin: 0.8rem 5rem;
    background-color: lightseagreen;
    border-radius: 3rem;
    font-size: 1.2rem;
}


button:hover {
  
    background-color: lightskyblue;

}


